$backgroundBody: white;
$logoTextColor: #2c2f3c;
$backgroundImage: "../img/m-h-day.jpg";
$fontLogo:'Hind', sans-serif;
$marginTopLogo:  -63px;
$sizeLogo: 24px;
$letterSpacing: 0;
$letterSpaceSpan: 0;
$sizeSpanLogo: 10px;
$marginSpan: -5px 0 0 0;
$marginTopImg: 20px;
$lineHeader: 1.6;
$marginTopHeading: 74px;
$marginTopHeaderButton: 55px 0 0 10%;
$sizeLogin: 18px;
$latSpaceLogin: 1px;
$sizeSectionText: 40px;
$marginSectionText: 38px -21px 36px 0;
$heightSectionImg: 100%;
$backgroundSectionCard: #21232e;
$borderSectionCard: 20px solid #21232e;
$gradient: linear-gradient(to right, #649315, #315fcb);
$heightBanner: 118px;
$padding: 26px;
$LetSpaceBanner: 0.8px;
$sizeBanner: 28.1px;
$letSpaceBanner: 1px;
$colorButton: #699900;
$colorLine: #14a0c7;
$headerColorText: #2c2f3c;
$headerTextColor: #2c2f46;
$textColorButton: #f2f3f7;
$colorCardText: #c0c3c4;
$colorBannerText:#c0c3be;
$colorFooterText: #b6c3ce;
$colorFooterWrap: #21232e;
$colorFooterLogo: #c0c3ce;